%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} 
    RubyBootcamp
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li{:class => "nav-item #{'active' if request.path == root_path}"}
          = link_to root_path, class: 'nav-link' do

            .fas.fa-home
            Home
        %li{:class => "nav-item #{'active' if request.path == courses_path}"}
          = link_to courses_path, class: 'nav-link' do 
                        
            .fas.fa-book
            Courses
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here     
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
      %ul.navbar-nav.mr-right
        %li.nav-item
          = link_to  edit_user_registration_path,class: "nav-link" do
            .fa.fa-cog 
            %b Account Setting
        %li.nav-item
          = link_to destroy_user_session_path, class: "nav-link", method: :delete do
            .fa.fa-sign-out-alt
            %b Logout
    - else
      %ul.navbar-nav
        %li.nav-item
          = link_to  new_user_session_path, class: "nav-link" do
            .fa.fa-sign-in-alt
            %b Login
        %li.nav-item
          = link_to  new_user_registration_path, class: "nav-link" do
            .fa.fa-sign-up-alt
            %b Signup